<ng-template #layout>
  <m-dashboardLayout>
    <ng-container *mIfFeature="'navigation'; else header"></ng-container>
    <ng-template #header>
      <ng-container m-dashboardLayout__header>
        <div>
          <h3 i18n="@@WALLET_V2__TOKENS__YOUR_WALLETS">
            Your Wallet
          </h3>
        </div>
      </ng-container>
    </ng-template>
    <ng-container m-dashboardLayout__body *ngIf="!tabs || inProgress">
      <div *ngIf="!tabs" class="m-wallet__spinner">
        <div class="mdl-spinner mdl-js-spinner is-active" [mdl]></div>
      </div>
    </ng-container>
    <ng-container m-dashboardLayout__body>
      <m-shadowboxLayout>
        <m-shadowboxHeader__tabs
          class="m-shadowboxLayout__header"
          [tabs]="tabs"
          [activeTabId]="activeCurrencyId"
          [friendlyVals]="true"
          (tabChanged)="updateCurrency($event)"
        ></m-shadowboxHeader__tabs>
        <div class="m-shadowboxLayout__body">
          <router-outlet></router-outlet>
        </div>
      </m-shadowboxLayout>
    </ng-container>
  </m-dashboardLayout>
</ng-template>

<ng-container *ngTemplateOutlet="layout"></ng-container>
